dist
.wrangler
.output
.vercel
.netlify
.vinxi
.omo

# Environment
.env
.env*.local

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/


.claude
.nitro
*.log
.turbo
.tmp-*